
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Moon+Dance&family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,700;1,400;1,900&family=Smooch&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lato:wght@700&family=Moon+Dance&family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,700;1,400;1,900&family=Smooch&family=Ubuntu:wght@700&display=swap');body{
    padding: 0% 3% 0% 3%;
    font-family: 'Roboto', sans-serif;
}
.row{
    display: flex;
    justify-content: space-around;
}
.col{
    padding: 2% 2% 0% 2%;
}
.row img{
    width: 100%;
    height: 45vh;
    border-radius: 4px;
    
}
.text-box{
   background-color: rgb(238, 233, 227);
   height: auto; 
   padding: 2% 5% 2% 5% ;
   width: 85%;
   position: relative;
   right: -6%;
   top: -12%;
   box-shadow: 5px 7px 5px 1px rgb(218, 218, 213);
   border-radius: 4px;
   
}
h2{
    display: flex;
    justify-content: center;
    font-size: 30px
    
}
.text-box p{
    font-size: 20px;
    color: rgb(101, 98, 98);    
}
.section_2{
    padding: 1% 2% 5% 2% ;
    display: flex;
    justify-content: ;
    display: flex;
    align-items: center;
}
.section_2 img{
    height: 80vh;
    width: 60%;
    border-radius: 1%; 
}
.section_2 .text-box{
    padding:  3% 2% 7% 3%;
    background-color: rgb(141, 141, 215);
    color: rgb(248, 249, 250);
}
.section_2 .text-box p{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
.section_2 .text-box h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}
.new1{
    border: 1px solid rgb(255, 255, 255);
    width: 500px;

}
.text-box_2{
    right: 6%;
}


@media screen and (max-width: 542px) {
    .row{
        display: block;     
    }
    .row img{
        height: 25vh;     
    }
    .text-box{
        background-color: rgb(238, 233, 227);
        height:auto; 
        padding: 2% 5% 2% 5% ;
        width: 85%;
        position: relative;
        right: -6%;
        bottom: 50px;
        box-shadow: 5px 7px 5px 1px rgb(218, 218, 213);
        border-radius: 4px;
        
     }
    h2{
        display: flex;
        justify-content: center;
        font-size: 20px
        font-family: 'Smooch', cursive;
        
    }
    .text-box p{
        font-size: 12px;
        color: rgb(101, 98, 98);
        text-align: justify;
        
    }
    
    .section_2 img{
        height: 25vh;
        width: 60%;
        border-radius: 1%; 
    }
    .section_2 .text-box p{
        font-size: 4px;
       
    }
    .section_2 .text-box h1{
        font-size: 8px;
    }
    .section_2 .text-box h3{
        font-size: 5px;
        
    }
    .text-box_2{
        right: 6%;
        top: 5px;
    }
    .text-box_1{
        top: -5px;
    }
    
}